// ---------- RWD 斷點 ---------- //
$wwSmall: 1024px;
$wwNormal: 1440px;
$wwMaximum: 1920px;
// ---------- RWD 斷點 ----------- //

// ---------- RWD 斷點 ----------- //
$radiusL: 16px;
$radiusM: 8px;
$radiusS: 4px;
// ---------- RWD 斷點 ----------- //

%mainWidth {
  width: 96%; margin-left: auto; margin-right: auto;
}

////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

body{
  position: relative; margin: 0;padding: 0;
  background-color: $bodyBg; color: $fontColor;
  font-family: Arial, Helvetica, sans-serif, "LiHei Pro", "Microsoft JhengHei";
  font-size: 16px; font-weight: 400;

  &.hasSidebar { padding-left: 11%; }

  *{
    box-sizing: border-box;
    &::before, &::after{box-sizing: border-box;}
  }

  @media screen and (min-width: $wwMaximum){
    &.hasSidebar { padding-left: 224px;}
  }

  @media screen and (max-width: $wwSmall){
    &.hasSidebar { 
      padding-left: 0;
      aside{display: none;}
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////

a{
  text-decoration: none; color: #fff;
  outline: none;
}

em{ font-style: normal;}

