// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

%mainWidth {
  width: 96%; margin-left: auto; margin-right: auto;
}

body{
  margin: 0;padding: 0;
  background-color: $bodyBg; color: $fontColor;
  // font-family: "Poppins", "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
  font-family: Arial, Helvetica, sans-serif, "LiHei Pro", "Microsoft JhengHei";
  font-size: 1.125em; font-weight: 500;

  *{
    box-sizing: border-box;
    &::before, &::after{box-sizing: border-box;}
  }
}


a{
  text-decoration: none; color: #fff;
  outline: none;
}

h2 {
  margin: 0 auto 1.5em;
  font-size: 2em; font-weight: 900;
  text-align: center; line-height: 1.2;
  em.idNumb{
    font-style: normal ;
    display: inline-block;
  }
}
