$primary: #202B40;
$secondary: #36E6E6;
$hilight: #B5D200;
$fontColor: #E4E7F0;
$fontColorDim: #7C8AA6;
// $fontColorClear: #f7f9ff;
$fontColorDim2:#ADB8CC;
$fontInvert: #1A2233;

$bodyBg: $primary;

$btnBg1: #44b1b1;
$btnBg1Hover: $secondary;
$btnBg2: #aab1b9;
$btnBg2Hover: #CCD1D6;
$btnBg3: #9ab300;
$btnBg3Hover: $hilight;
$btnColor:#202B40;

$borderColor: #7C8AA6;
$borderColorDim: #3F5073;
$borderColorClear: #eee;

$tableBg : #1A2233;
$thColor: #ADB8CC;
$thBg: #3F5073;
$trHover: $hilight;
$thColor2: #ADB8CC;

$white: #E4E7F0;
$gray: #aab1b9;

$warning: #b5d200;
$error: #fff;
$passed: #36E6E6;
$alert: #FF0099;

// 表單元件顏色變數 ////////////////////////////
$disabledColor: #626977;
$inputBg: #ADB8CC;
$focused: $hilight;