// 單元標題
h2 {
  margin: 0 auto 16px;
  font-size:  1.8em;font-weight: 600; text-align: center; line-height: 1.2;
  color: #ADB8CC;
  em.idNumb{
    display: inline-block; font-style: normal; 
    color: $fontColor;
  }
}


// button
button.funcBtn, .button{
  font-size: 1.25rem; font-weight: 600;

  @media screen and (max-width: 1200px){
    font-size: 1rem;
  } 
}

// <button>元件
button.funcBtn{
  border: none; outline: none;
  height: 3em; padding: 0 1.5em; border-radius: 2em;margin: 4px;
  background: $btnBg1;color: $btnColor;
  transition: .2s;
  &:hover, &:focus{box-shadow: $btnBg1Hover 0 0 0 2px; background: $btnBg1Hover;}
}

// 連結 button
.button {
  display: inline-block; margin: 4px;
  a{
    display: block; text-decoration: none; text-align: center;
    background: $btnBg2; color: $btnColor;
    height: 3em; line-height: 3; padding: 0 1.5em; border-radius: 2em;
    transition: .2s;
    &:hover, &:focus{box-shadow: $btnBg2Hover 0 0 0 2px;background: $btnBg2Hover;}
  }
  &.detail{
    a{
      background-color: $btnBg3;
      &:hover, &:focus{box-shadow: $btnBg3Hover 0 0 0 2px;background: $btnBg3Hover;}
      &::before{
        content: ''; display: inline-block;width: 18px;height: 18px;
        vertical-align: middle; margin-right: 8px;
        background: url(../images/icon_search.svg) no-repeat center center;
        background-size: 100% auto;
      }
    }
    &:only-child{
      width: 90%; max-width: 470px;
    }
  }
}

.btnGroup{
  @extend %mainWidth; margin-top: 20px; margin-bottom: 60px;
  display: flex; flex-flow: row wrap;
  .left, .right{
    flex: 1 1 auto;
    display: flex; flex-flow: row wrap;
    // outline: 1px solid red;
  }
  
  .left{
    justify-content: flex-start;
  }
  
  .right{
     justify-content: flex-end;
     display: flex; flex-flow: row wrap;
  }
}


// 表單送出、確定等 button
.btnDv{
  text-align: center;
  margin: 30px 0;
  input[type="submit"], input[type="button"], input[type="reset"], button, .button>a {
    font-size: 1.25rem; font-weight: 600;
    border: none; outline: none;
    height: 3em; min-width: 8em; padding: 0 1.5em; border-radius: 2em;

    &.enter{
      background-color: $btnBg3;
      &:hover{ background-color: $btnBg3Hover; box-shadow: $btnBg3Hover 0 0 0 2px; }
      &:only-of-type{ width: 16em;}
    }
  
  }
  input[type="submit"], input[type="button"], input[type="reset"], button, .button{ 
    margin-left: 4px; margin-right: 4px;vertical-align: top;
  }
  .button>a{}

}
