////////////////////////////////////////////////////////////////////////////////////
// th, td 在同一個 tr 中的表格（一格標題對應一格內容） /////////////////////////////
table.meta{
  width: 100%; border-collapse: collapse;
  line-height: 1.5; 
  border-width: 3px 0; border-style: solid; border-color: $borderColor;

  &+.meta{ margin-top: -3px;}

  caption{
    text-align: center; font-size: 1.2em;
    padding: 10px 0; margin: 0;
  }
  & + .meta caption{ margin-top: 30px;}

  th, td{
    padding: .3em .4em .2em;vertical-align: top;font-weight: 400;
  }
  th{text-align: right;color: $thColor;}

}

////////////////////////////////////////////////////////////////////////////////////
// table.meta 的外部容器 ///////////////////////////////////////////////////////////
.details{
  @extend %mainWidth; margin: 0 auto;

  &+.details{ margin-top: 3.5em;}

  .whichRecord{
    margin: 24px auto;
    line-height: 1.1;text-align: center; color: $hilight;
    .cx{ display: inline-block;}
  }

  table.meta{
    background-color: $tableBg; color: $fontColor;
    
    // 一個 tr 中可能多達３對 th:td
    th, td{border-bottom: 1px solid $borderColorDim;}
    th{
      position: relative;
      width: 11.33%; padding-right: .8em; padding-left: .8em;
      // background-color: $thBg; color: $thColor;
      // border-bottom: 1px solid $tableBg;
      &::after {
        content: ''; position: absolute; right: 0; top: 8px; bottom: 8px;
        width: 3px; background-color: $btnBg1;
        // width: 6px; height: 12px;
        // border-style: solid; border-width: 7px 0 7px 6px;
        // border-color: transparent transparent transparent $borderColorDim;;

      }

      &.noData{
        color: $fontColorIgnore;
        &::after {background-color: darken($btnBg1, 30%);}
      }
    }
    td{
      width: 22%; padding-left: .6em; padding-right: .8em;
      // border-bottom: 1px solid $borderColorDim;
      &[colspan="3"]{ width: 55.33%;}
      &[colspan="5"]{ width: 88.66%;}
      & + th{ border-left: 1px solid $borderColorDim;}

    }
  }

  .page{width: 100%;}
}





// 20250520
////////////////////////////////////////////////////////////////////////////////////
// 海關列管處置單
// 可卷動區
.scrollBox {
  @extend %mainWidth;
  @extend %roundCorner;
 
  padding: 24px;
  
  .details {
    background-color: $tableBg; width: 100%;
    h3{ margin: 0 auto; padding: 6px 0; font-size: 1.4em;}

    .photo{
      flex: 0 0 250px; width: 250px;
      padding: 0 24px 20px;  
      .th {
        display: block; padding:8px 5px;
        text-align: center;
      }
      img {
        display: block; width: 100%;
        border-radius: $radiusM;
      }
    }


  }

  // .flexRow {
  //   display: flex; flex-flow: row nowrap;
  //   align-items: flex-start
  // }
}

.scrollBox{
  overflow-y: auto;
  max-height: calc(100vh - 500px);
  // height: calc(100vh - 500px);
  // &:has(+.customsRemark){
  //   height: auto;
  //   max-height: calc(100vh - 500px);
  // } 

  .details{
    // min-height: calc(100% - 48px);
    &::after {
      content: ''; display: block; clear: both;
    }
    .photo{
      float: left;
      position: sticky; top: -20px;
    }
    .meta {
      width: calc(100% - 250px);
      margin-left: 250px; margin-bottom: 0;
      border-width: 1px 0;
      caption {
        text-align: left;
        padding:18px 12px 8px; margin: 0;
        font-size: .95em; line-height: 1;
        color: $btnBg1;
      }
      td{
      
        dl{
          margin: 0;
          dt, dd { display: inline-block; text-indent: 0}
          dt{ color: $fontColorDim;
            &::after { content: ' ｜'; font-size: .9em;}
          }
          dd{ margin: 0;
            &+dt{margin-left: 2em;}
          }
        }
      }


    }
  }
}

// 海關檢查註記
.customsRemark {
  @extend %mainWidth; margin-top: 24px;

  table.formLayout {
    border-top: 3px solid $borderColor;
    border-bottom: 3px solid $borderColor;
    background-color: $tableBg;
    td, th{
      border-bottom: 1px solid $borderColorDim;
      padding-top: 10px; padding-bottom: 10px;
      &:nth-child(odd) {
        padding-right: 1em;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////
// 海關檢查註記
.optionGroup.customsNote{
  gap: 7px;
  flex-flow: row wrap;
  &>label{ flex: 0 1 auto; min-width: 7em; margin: 0; white-space: nowrap;}
}

.inputGroup{
  display: flex; gap:12px 36px;
  flex-flow: row wrap;
  
  label{
    flex: 0 0 auto; white-space: nowrap;
    input{ width: 5.5em; margin: 0 0 0 6px; padding-right: 1.5em; padding-left: .5em;}
    .unit{ 
      display: inline-block;vertical-align: middle;
      margin-left: -1.5em; margin-right: .5em;
      color: $fontInvert; 
    }
  }
}
