table.meta{
  width: 100%; border-collapse: collapse;
  font-size: 1.125rem; line-height: 1.5; 
  border-width: 3px 0; border-style: solid; border-color: $borderColor;

  &+.meta{ margin-top: -3px;}

  caption{
    text-align: center; font-size: 1.5rem;
    padding: 10px 0; margin: 0;
  }
  & + .meta caption{ margin-top: 30px;}

  th, td{
    padding: .6em .4em .5em;vertical-align: top;font-weight: 400;
  }
  th{
    text-align: right; color: $thColor2;
  }

}

.details{
  @extend %mainWidth; margin: 0 auto;

  &+.details{ margin-top: 3.5em;}

  .whichRecord{
    margin: 24px auto;
    line-height: 1.1;text-align: center; color: $hilight;
    .cx{ display: inline-block;}
  }

  table.meta{
    background-color: $tableBg; color: $fontColor;
    th{
      width: 11.33%; padding-right: .8em; padding-left: .8em;
      background-color: $thBg; color: $thColor;
      border-bottom: 1px solid $tableBg;
    }
    td{
      width: 22%; padding-left: .8em; padding-right: .8em;
      border-bottom: 1px solid $borderColorDim;
      &[colspan="3"]{ width: 55.33%;}
      &[colspan="5"]{ width: 88.66%;}
    }
  }


  .page{
    width: 100%;
  }
}
