////////////////////////////////////////////////////////////////////////////////////
// 入境查驗左半部 //////////////////////////////////////////////////////////////////
.entryInspection .leftField{

  // 上方 「入國登記表」、「入境證號」////////////////////////////////////////////////
  .meta{ 
    border: none;
    th{width: 6em;}

    &~.formLayout{
      position: relative; margin-top: 24px;
      &::before{
        // 畫分隔線 
        content: ''; display: block; position: absolute;
        top: -14px; left: 0; right: 0; height: 3px;
        background-color: $borderColor;
      }
    }
  }

  // 表單排版表格 ////////////////////////////////////////////////////////////////////
  .formLayout{
    width: 100%;
    td{

      &:nth-child(odd){ width: 6em;
        &.warning{ width: 7em; padding-left: 0;}
      }
      &:nth-child(even){ width: calc(50% - 8em); padding: 5px 4px 4px;}
      &[colspan="3"]{ width: calc(100% - 8em);}

      &.longText{
        position: relative;
        &::before{
          content: attr(title); position: absolute; left: 4em; top: 1.6em;
          padding:.4em .6em; z-index: 3;
          width: auto; white-space: nowrap;
          border-radius: $radiusM; background: $hilight; color: $fontInvert;
          box-shadow: rgba(0,0,0,.4) 0 2px 10px;
          opacity: 0; height: 0; transition: .3s;
        }
        &:hover{
          &::before{opacity: 1; height: 2.1em;}
        }
      }

      .ListInCell{ color: $secondary;}
    }
  }

  // 中間一列 buttons ////////////////////////////////////////////////////////////////
  .linkButtons {
    display: flex; padding: 3px; margin: 8px auto 4px;
    .button {
      flex: 1 1 auto; width: auto; margin: 0 3px; font-size: 1.125rem;
      &>a{padding: 0 .5em; height: 2.1em; line-height: 2.2;}
    }

    & + .formLayout{
        margin-top: 0;
      &::before {display: none;}
    }
  }
  

}
