// 表單排版表格 ////////////////////////////////////////////////////////////////////
table.formLayout{
  border-collapse: collapse;
  width: 100%; margin: 0 auto;
  font-size: 1.125em; line-height: 1.5;
  
  td{
    padding: 6px;
    &:nth-child(odd) {
      text-align: right; font-weight: 400;
      vertical-align: top; padding-top: .65em;
      color: $thColor2;

      // 有警示符號
      &.warning{
        color: $hilight;
        &::before{
          content: ''; display: inline-block; width: 1.2em; height: 1.1em;
          margin-right: 3px; vertical-align: middle;
          background: url(../images/icon_warning.svg) no-repeat center top;
          background-size: 100% auto;
    
        }
      }
    }
    &:nth-child(even) {
      color: $fontColor;
      &>input[type="text"]:only-child{width: 100%;}
    }
  }

  &+.formLayout {margin-top: 10px;}



}

.search table.formLayout{
  width: 90%; max-width: 900px;
  background-color: $tableBg;
  border-top: 3px solid $borderColor;
  border-bottom: 3px solid $borderColor;
  td{
    padding-left: 16px; padding-right: 16px;
    &:nth-child(odd) {
      width: 11.5em;
      background: $thBg; color: $thColor;
      border-bottom: 1px solid $borderColor;
    }
    &:nth-child(even) {
      border-bottom: 1px solid $borderColorDim;
    }
  }

}


////////////////////////////////////////////////////////////////////////////////////
// 表單中的訊息文字 ////////////////////////////////////////////////////////////////
.notice{
  position: relative;
  display: inline-block; margin: 4px 0 0 .5em;

  &.pass , &.warning, &.fail {
    padding-left: 1.4em; 
    &::before{
      position: absolute; left: 0; top: .15em;
      content: ''; width: 1.3rem; height: 1.3rem; 
    }
  }

  // 打勾
  &.pass{
    color: $secondary;
    &::before{
      background: $secondary url(../images/icon_check.svg) no-repeat center center;
      background-size: 70% 85%;
      border-radius: 50%;
    }
  }

  // 驚嘆號 ！
  &.warning{
    color: $hilight;
    &::before{
      background: url(../images/icon_warning.svg) no-repeat center center;
      background-size: 100% auto;
    }
  }

  // 打叉 ✖️
  &.fail{
    color: $hilight;
    &::before{
      background: url(../images/icon_error.svg) no-repeat center center;
      background-size: 100% auto;
      border-radius: 50%;
    }
  }

}

// 註記：input ＋ 返回button ＋ 訊息文字
.markSet{
  display: flex; align-items: center; width: 100%;
  input[type="text"]{ flex: 1 1 50%; margin-right: 8px;}
  .button{ margin-bottom: 0;}
  p.notice{ margin-left: 4px; margin-top: 0.3em;}
}
.meta td .markSet{ margin-top: -.35em;}