////////////////////////////////////////////////////////////////////////////////////
// 查驗 ////////////////////////////////////////////////////////////////////////////
main.inspection {
  @extend %mainWidth;
  display: flex;

  // 查驗
  .thisPassenger, .prePasssenger {
    h2{ font-size: 2rem;}
    .borderBox{
      border-radius: $radiusL;
      border: 2px solid $borderColorDim;
      border-left: none;border-right: none;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////
  // 前一筆查驗 //////////////////////////////////////////////////////////////////////
  .prePasssenger{
    flex: 1 1 20%; margin: 0 2% 0 0; max-width: 300px;
    h2{ color: $fontColorDim2;}
    .borderBox{padding: 40px 0;}
    .photo{
      margin: 0 auto 40px; width: 140px;
      img{
        display: block;  width: 100%; height: 140px; object-fit: cover;
        border-radius: $radiusL;
      }
    }
    
    .basicInfo{
      font-size: 1.18rem;
      table{ width: 96%; margin:0 auto; line-height: 1.5;}
      th, td{ padding: 7px 0; vertical-align: top; }
      th{
        position: relative; width: 5em;padding-right: .8em;
        white-space: nowrap;
        color: $fontColorDim; text-align: right; font-weight: normal;
        &::after{
          content: ''; position: absolute; right: .3em; top: .6em;
          width: 2px; height: .9em; background: $fontColorDim;
        }
      }
      tr:first-child{
        td{
          color: $hilight;
          em{ display: inline-block; font-style: normal; font-size: 1.1em; line-height: 1;}
        }
      }
    }
  }


  ////////////////////////////////////////////////////////////////////////////////////
  // 開始查驗 ////////////////////////////////////////////////////////////////////////
  .thisPassenger{
    flex: 1 1 78%; margin: 0 auto;font-size: 1.25rem;
    h2{
      .subHeader{ font-size: .7em; display: block; margin: .5em 0 0; color: $secondary;}
    }
    
    .borderBox{
      display: flex; justify-content: center; align-items: center;
      padding: 64px 5%;
      background-color: #303D57;
    }
  
    .photo {
      flex: 0 0 50%; 
      img {
        display: block;margin: 0 auto; border-radius: $radiusS;
        width: 100%; height: auto;
      }
    }
    .inputArea {
      flex: 1 1 46%; margin: 0 0 0 4%; max-width: 460px;
      // outline: 1px dashed pink;
    }
    table.formLayout {
      td {
        &:nth-child(odd) {
          padding-right: 8px; width: auto;white-space: nowrap;
          color: #fff;
        }
      }
    }
    .btnDv {
      margin: 20px auto 0; 
      input:only-child {width: 96%;}
    }
  }


  @media screen and (max-width: $wwNormal){
    display: block;
    .prePasssenger{
      max-width: none; margin: 0 auto 20px;
      .borderBox{
        display: flex; padding: 0; border: none;
        .photo{ 
          flex: 0 0 auto;width: 160px; margin:0 16px 0 0;
          img{ height: 160px;}
        }
        .basicInfo {
          flex: 1 1 auto; padding: 22px 0; 
          border-radius: $radiusL;
          border: 2px solid $borderColorDim;
          border-left: none;border-right: none;
          table{ display: block;}
          tr{
            float: left; width: 31%; margin: 3px 0 3px 2%;
            &:first-child{
              width: 34%;padding-bottom: 2em; margin-left: 0;
              th{ width: 2em;}
            }
          }
        }
      }
    }

    .thisPassenger{
      margin-top: 40px;
      .borderBox{ padding: 32px 5%;}
    }
  }


}
