// 登入頁
// 登入頁 body 元件背景
.loginBody{
  height: 100vh;
  background:url(../images/login_bg.jpg) no-repeat center top;
  background-size:1920px auto;

  // 標題
  .loginHeader{
    position: fixed; top: 15vh; left: calc(50% - 254px);
    padding: 1px 0 1px 72px;
    width: calc(18em + 72px);
    text-align: left;font-size: 30px; line-height: 1.2;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: 64px;
    h1{ 
      margin: 0 auto 15px; padding: 0;
      font-size: inherit; text-align: left;
      .c{display: block; white-space: nowrap;color: #fff;}
      .e{
        display: block; margin: 4px 0 0 2px;
        font-weight: 500; font-size: 1rem; letter-spacing: .03em;
        font-family: Arial, Helvetica, sans-serif;
        color: #C8D0D9;
      }
    }
    h2 {
      margin: 0; padding: 0;
      font-size: inherit;letter-spacing: .48em;text-align: left;
      color: #36E5E5;
    }
  }

  @media (min-width: 1920px) or (min-height: 1080px){
    background-size: cover;
  }
}


// 登入區
.login{
  position: fixed; left: calc(50% - 135px); top:calc(15vh + 148px);
  margin: 0 auto ; padding: 48px 60px 100px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(48, 61, 87, 0.8) 75%, rgba(48, 61, 87, 0) 99%);

  table{
    margin: 0 auto; border: none; border-collapse: collapse;
    font-size: 1.375rem;
    td{
      padding: 8px 3px;
      &:first-child {
        padding-right: 10px;
        text-align: right; white-space: nowrap;
        &::after{content: ' /';}
      }
    }
    input[type="text"], input[type="password"]{ 
      height: 2.2em; font-size: 1em; width: 280px;
    }
  }
  .btnDv{
    margin: 6px auto; width: 360px;
    display: flex; justify-content: space-between;
    input{ flex: 1 1 50%; width: auto; margin: 5px;}
  }

  .versionNumber {
    margin: 12px auto 0; text-align: center;
    color: #C8D0D9;
  }

  // @media screen and (max-width: 1200px){
  //   transform: translateX(-50%);
  // }

}




