.meta{
  @extend %mainWidth; margin: 15px auto;
  table{
    width: 100%; border-collapse: collapse;
    background-color: $tableBg;
    line-height: 1.5;
  }
  th, td{
    padding: .6em .8em .5em;
  }
  th{
    width: 12%;
    text-align: right; font-weight: normal;
    background-color: $tbHeaderBg;
    border-bottom: 1px solid $tableBg;
  }
  td{
    border-bottom: 1px solid $borderColorDim;
  }
}