.profile{
  @extend %mainWidth; margin-bottom: 24px;
  display: flex; justify-content: space-between;

  // 旅客相片
  .photo{
    flex: 0 0 160px; width: 160px; 
    img{
      display: block; width: 160px; height: 160px; object-fit: contain;
      border-radius: 16px;
    }
  }

  // basicInfo： 中、英文姓名，護照號碼，國籍等
  .basicInfo{
    position: relative; width: calc(100% - 180px);
    border: 2px solid $borderColorDim; border-left: none; border-right: none;
    border-radius: 16px; padding: 16px 0; padding: 5px;
    dl{
      position: relative; top: 50%; transform: translateY(-50%);
      display: flex; flex-flow: column wrap; width: 97%;
      line-height: 1.2; height: 5.6em; padding:0; margin: 0 auto;
      &>div {
        overflow: hidden; margin:.8em 1%;
      }
    }
    dt{
      float: left;
      position: relative; padding: 0 .8em 0 0; margin: 0;
      color: $fontColorDim;
      &::after{
        content: ''; position: absolute; right: .38em; top: .18em;
        width: 2px; height: .9em; background: $fontColorDim;
      }
    }
    dd{ margin: 0; float: left;}

    @media screen and (max-width: 1400px){
      dl{
        height: 7.2em;
        &>div{
          margin: .6em 1.2%;
        }
      }
      dt{
        font-size: .88em;
      }
    }
  }

}
