.search {
  @extend %mainWidth;
}


// on/off 切換 ////////////////////////////////////////
.modeSwitch{
  display: flex;
  width: 80%; margin: 0 auto;max-width: 900px;

  background-color: $thBg; padding: 4px; border-radius: 3em;
  &>button{
    flex: 1 1 48%; background-color: transparent; color: $fontColor;
    font-size: 1.25rem; height: 2em; line-height: 2; font-weight: normal;
    box-shadow: none; margin: 0;
    &:hover, &:focus{
      background-color: transparentize($fontColor, .8);
    }
    &.now{
      margin-right: 4px; font-weight: 500; cursor: default;
      background-color: $fontColor; color: $fontInvert;
    }
  }
  margin-bottom: 24px;
}

// 精準、模糊切換
.searchMode{
  display: flex; justify-content: flex-end; align-items: center;
  margin: 0 0 6px;
  .label{ height: 2em; margin-right: .5em; line-height: 2;}
  .switch{
    background-color: $thBg; padding: 4px; border-radius: 2em;
    label{
      position: relative; 
      height: 2em; line-height: 2; padding: 0 12px 0 26px; border-radius: 2em;
      color: $fontColorDim2;
      cursor: pointer;
      input{ 
        position: absolute; left: 8px; top: 13px;
        font-size: 11px; margin: 0 5px 0 0; 
        border: none;
        box-shadow: $fontColorDim 0 0 0 1px;
        &:checked{
          background: $hilight;
          box-shadow: $fontInvert 0 0 0 2px;
        }
      }
      &.checked{
        font-weight: 500; cursor: default;
        background-color: $fontColor; color: $fontInvert; 
        input{
          background: $hilight;
          box-shadow: $fontInvert 0 0 0 2px;
        }
      }
    }
  }

  &+input{ width: 100%;}

}

// 查詢事由及用途
.ReasonAndPurpose{
  @extend %mainWidth;max-width: 800px;
  padding: 45px 40px 50px;
  border-radius: 24px;
  font-size: 1.125em; line-height: 1.5;
  box-shadow: $borderColorDim 0 0 0 3px;
  background-color: $tableBg;
  input[type="text"], select{
   display: block; width: 100%;
   margin: 12px auto;
   height: 3em;
  }
  select{
    background-size: 1.125em auto;
    background-position: top 1.3rem right 14px;
  }

  .btnDv{
    display: flex;
    margin-bottom: 0;
    input.enter{
      flex: 1 1 60%;
    }
  }

}


// 查無資料
.notFound{
  @extend %mainWidth;max-width: 900px;
  font-size: 1.125rem;

  dl{
    line-height: 1.5; margin: 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    &>div{
      display: flex; padding: .4em 0;
      border-bottom: 1px dotted $borderColorDim;
    }
    dt{
      color: $fontColorDim2;
      &::after{
        content: ""; display: inline-block; top: .6em;
        margin-left: .5em;
        width: 3px; height: .7em; background-color: $secondary;
      }
    }
    dd{margin: 0 0 0 .6em;}
  }
  table.searhTerm{
    width: 100%;
  }

  .answer{
    text-align: center; margin:1.2em 0;
    font-size: 2rem; color: $hilight; font-weight: bold;
  }

}

// 查詢條件
table.searhTerm{
  border-collapse: collapse;
  width: 100%; margin: 0 auto;
  line-height: 1.5;
  border-top: 3px solid $borderColor;
  border-bottom: 3px solid $borderColor;
  caption{
    margin: 0 auto .8em;
    text-align: center; font-weight: 600; font-size: 1.78em;
  }
  
  th, td {
    vertical-align: text-top; padding: .7em 16px;
    border-bottom: 1px solid $borderColorDim;
    font-weight: 400;
  }

  th {
    position: relative;
    text-align: right;width: 11.5em; color: $fontColorDim2; 
    &::after{
      content: "";
      position: absolute; right: 0; top: .95em;
      width: 2px; height: .9em; background-color: $borderColor;
    }
}

  &+.formLayout {margin-top: 10px;}

}

