


.search{
  @extend %mainWidth;

}


table.formLayout{
  // outline: 1px dashed #f66;
  border-collapse: collapse;
  width: 90%; margin: 0 auto;max-width: 900px;
  font-size: 1.125em; line-height: 1.5;
  background-color: $tableBg;
  
  td{
    padding: 10px 16px;
    &:nth-child(odd) {
      text-align: right;width: 11.5em; font-weight: 400;
      background: $thBg; color: $thColor;
      border-bottom: 1px solid $borderColor;
    }
    &:nth-child(even) {
      border-bottom: 1px solid $borderColorDim;
      &>input[type="text"]:only-child{
        width:100%;
      }
    }
  }

  .duration, .optionGroup{
    width: 100%;
  }

}




// 查詢模式切換 ////////////////////////////////////////
.modeSwitch{
  display: flex;
  width: 80%; margin: 0 auto;max-width: 900px;

  background-color: $thBg; padding: 4px; border-radius: 3em;
  &>button{
    flex: 1 1 48%; background-color: transparent; color: $fontColor;
    font-size: 1.25rem; height: 2em; line-height: 2; font-weight: normal;
    box-shadow: none; margin: 0;
    &:hover, &:focus{
      background-color: transparentize($fontColor, .8);
    }
    &.now{
      margin-right: 4px; font-weight: 500; cursor: default;
      background-color: $fontColor; color: $fontInvert;
    }
  }
  margin-bottom: 24px;

}




// 表單模組 ////////////////////////////////////////
// 起迄日期區間
.duration{
  // outline: 1px dashed #9f3;
  position: relative;
  display: flex; align-items: center;
  &::after{
    content: '~';text-align: center;
    position: absolute; width: 1.2em; left: calc(50% - .6em);
  }
  input{
    flex: 1 1 40%; margin-right: 1.6em; margin-left: 0;
    &:last-child{ margin-right: 0;}
  }
}

// 多選或單選項目組
.optionGroup{
  // outline: 1px dashed #9f3;
  display: flex;

  &>label{
    flex: 0 0 8em;
    height: 2.1em; line-height: 2.1; padding: 0 .8em; margin: 0;
    border-radius: 8px; text-align: center;
    box-shadow: transparent 0 0 0 1px inset; transition: .2s;
    &+label{margin-left: 4px;}
    input{ opacity: 0; font-size: 0; margin: 0; }
    &:hover, &:focus{
      box-shadow: $inputBg 0 0 0 1px inset;
    }

    &.checked{
      background: $inputBg; color: $fontInvert;
      // &:hover, &:focus{ box-shadow: $inputBg 0 0 0 1px;}
    }
  
  }

}

